{% include 'headerA.html' %}

{% include 'sidebar.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Edit Jenis Serum</h1>
    </div><!-- End Page Title -->
    <br>
    <div class="card border-0 shadow mb-4 ">
        <div class="card-body mt-4">
            <div class="table-responsive">
                <form action="/edit/{{data[0]._id}}" method="post" enctype="multipart/form-data">
                    <input type="text" name="id" value="{{data[0]._id}}" hidden>
                    <div class="mb-3">
                        <label for="nama_serum" class="form-label">Nama Serum</label>
                        <input type="text" class="form-control" name="nama_serum" value="{{data[0].nama_serum}}"
                            style="border-radius: 13px;" placeholder="Masukkan nama serum" required />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Harga</label>
                        <input type="number" class="form-control" name="harga" value="{{data[0].harga}}"
                            style="border-radius: 13px;" placeholder="Masukkan harga" required />
                    </div>
                    <div class="mb-3">
                        <label for="kategoriSelect" class="form-label">Kategori</label>
                        <select class="form-control" name="kategori" id="kategoriSelect" style="border-radius: 13px;" required>
                            <option value="" disabled {{ 'selected' if not data[0].kategori else '' }}>Pilih kategori</option>
                            <option value="Acne" {{ 'selected' if data[0].kategori == 'Acne' else '' }}>Acne</option>
                            <option value="Aging" {{ 'selected' if data[0].kategori == 'Aging' else '' }}>Aging</option>
                            <option value="Hydrating" {{ 'selected' if data[0].kategori == 'Hydrating' else '' }}>Hydrating</option>
                            <option value="Exfoliating" {{ 'selected' if data[0].kategori == 'Exfoliating' else '' }}>Exfoliating</option>
                            <option value="Brightening" {{ 'selected' if data[0].kategori == 'Brightening' else '' }}>Brightening</option>
                            <option value="Repairing" {{ 'selected' if data[0].kategori == 'Repairing' else '' }}>Repairing</option>
                        </select>
                    </div>                    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gambar</label>
                        <br>
                        <img id="gambar-preview" src="../static/images/{{data[0].gambar}}" alt="" width="200">
                        <input type="file" class="form-control" accept=".png,.jpg,.jpeg" name="gambar"
                            style="border-radius: 13px;" placeholder="Masukkan gambar" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Deskripsi</label>
                        <textarea class="form-control" name="deskripsi" style="border-radius: 13px;"
                            placeholder="Masukkan deskripsi serum" required>{{data[0].deskripsi}}
                            </textarea>
                    </div>
                    <div class="mb-3 ">
                        <div class="d-flex justify-content-end">
                            <a href="/serum" class="btn" style="background-color: #af904c; color: white;">Batal</a>
                            <button type="submit" class="btn ms-2"
                                style="margin-left: 90%; background-color: #af904c; color: white;">Simpan</button>
                        </div>
                    </div>
                </form>
</main><!-- End #main -->

{% include 'footerA.html' %}