<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    <li class="nav-item">
      <a class="nav-link" href="/kategoriadm">
        <i class="bi bi-grid"></i>
        <span>Kategori Serum</span>
      </a>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/serum">
        <i class="bi bi-grid"></i>
        <span>Jenis Serum</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/transaksiadm">
        <i class="bi bi-grid"></i>
        <span>Transaksi</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pesananadm">
        <i class="bi bi-grid"></i>
        <span>Pesanan</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->